# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!version
!.yarn/**
!.yarnrc.yml
!.pnp.cjs
!.pnp.loader.mjs

!tsconfig.build.json
!tsconfig.json
!webpack/**
!src/main/**
!config/**
!webpack.config.js
