# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock
!version
!.yarn/**
!.yarnrc.yml
!.husky/install.mjs

!tsconfig.build.json
!tsconfig.json
!vite.config.ts
!src/main/**
!config/**
