{% extends "govuk/template.njk" %}

{% block head %}
  {% for stylesheet in assets.stylesheets %}
    <link href="{{ stylesheet }}" rel="stylesheet">
  {% endfor %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% for script in assets.scripts %}
    <script type="module" src="{{ script }}"></script>
  {% endfor %}
{% endblock %}
